/* COMPONENTS */

/* HEADER */

/* NAVIGATION */

/* HERO SECTION */

.hero-section {
  background-color: #f4fce3;
  margin-top: 4.8rem;
}

.hero-section-container {
  max-width: 120rem;
  margin: auto;

  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 4.8rem;
}

.hero-text {
  width: 50%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
}

.hero-img-container {
  width: 50%;
}

.hero-img {
  width: 100%;
}

.hero-imgs-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-imgs {
  display: flex;
}

.hero-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #f4fce3;
  border-radius: 50%;
  margin-left: -1.2rem;
}

.hero-imgs-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.hero-imgs-text span {
  color: #5c940d;
  font-weight: 600;
}
