/* COMPONENTS */

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #f4fce3;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}

/* NAVIGATION */

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-links:link,
.main-nav-links:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-links:hover,
.main-nav-links:active {
  color: #5c940d;
}

.main-nav-cta:link,
.main-nav-cta:visited {
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  color: #fff;
  background-color: #74b816;
}

.main-nav-cta:hover,
.main-nav-cta:active {
  background-color: #66a80f;
}

/* HERO SECTION */

.section-hero {
  background-color: #f4fce3;
  padding: 0 4.8rem 6.4rem 4.8rem;
}

.hero-section-container {
  max-width: 130rem;
  margin: auto;

  display: flex;
  align-items: center;
  gap: 6.4rem;
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
}

.hero-text {
  width: 50%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
}

.hero-img-container {
  width: 50%;
}

.hero-img {
  width: 100%;
}

.hero-imgs-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-imgs {
  display: flex;
}

.hero-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #f4fce3;
  border-radius: 50%;
  margin-left: -1.2rem;
}

.hero-imgs-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.hero-imgs-text span {
  color: #5c940d;
  font-weight: 600;
}

/* HOW IT WORKS */

.section-how-it-works {
}

.steps {
  column-gap: 7.4rem;
  row-gap: 6.4rem;
}

.steps-heading {
  padding-bottom: 0;
}

.step-img-container img {
  width: 40%;
}

.step-number {
  font-size: 6.4rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 2.4rem;
}

.step-heading {
  font-size: 3.6rem;
  line-height: 1.2;
  color: #333;
  margin-bottom: 3.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #333;
}

.step-img-container {
  position: relative;
}

.step-img-container::before,
.step-img-container::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-container::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #f4fce3;
  z-index: -2;
}

.step-img-container::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #e9fac8;
  z-index: -1;
}

/* FEATURED IN */

.section-featured-in {
  padding: 4.8rem;
}

.featured-in-heading {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  letter-spacing: 1px;
  color: #888;

  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.features-list img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* MEALS */

.section-meals {
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
  position: relative;
}

.meals-header {
  text-align: center;
}

.meals-details {
  gap: 6.4rem;
}

.meal-card {
  border-radius: 9px;
  box-shadow: 0 3.2rem 5.2rem #eee;
  transition: all 0.5s;
}

.meal-card:hover {
  transform: translate(0, -2%);
  box-shadow: 0 3.6rem 5.2rem #eee;
}

.meals-img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.meal-description {
  padding: 4.8rem 5.2rem 5.2rem 5.2rem;
}

.meal-tag-list {
  display: flex;
  gap: 0.4rem;
}

.vegetarian-tag {
  background-color: #69db7c;
}

.paleo-tag {
  background-color: #fcc419;
}

.vegan-tag {
  background-color: #38d9a9;
}

.meal-heading {
  margin: 0.8rem 0 3.2rem 0;
}

.link {
  position: absolute;
  right: 50%;
  transform: translateX(+50%);
  margin: auto;
  color: #74b816;
  border-bottom: 2px solid currentColor;
  transition: all 0.3s;

  font-size: 2rem;
  text-decoration: none;
}
